Temp/
Obj/
UnityGenerated/
Library/
ExportedObj/
Builds/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.sublime-project
*.sublime-workspace
/unity.log
/obj
.vs/
UnityVS.meta
Editor.meta
SyntaxTree.VisualStudio.Unity.Bridge.dll
SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
SyntaxTree.VisualStudio.Unity.Messaging.dll
SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
